/*************************************
ABOUT
*************************************/
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6rem; 
    padding-right: 6rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.about-para {
    width: 100%; 
    max-width: 88rem;
    font-size: 1.8rem; 
    text-align: center;
}

.about-container li {
    display: inline-block;
    margin: 1rem;
}

.about-container i {
    font-size: 7.2rem;
    margin: 1rem;
}

/**************************************************************************
MOBILE LAYOUT
**************************************************************************/
@media (max-width: 600px) {

    .about-container i {
        font-size: 3.5rem;
    }

}