/*************************************
PROJECTS
*************************************/
.projects-cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-card {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 100%;
    max-width: 49.5rem;
    padding: 2.5rem 2.4rem;
}

.project-image {
    width: 100%;
    max-width: 49.5rem;
}

.project-name {
    font-size: 2.4rem; 
    width: 100%;
}

.project-hr {
    height: .1rem;
    width: 100%;
}

.project-para {
    width: 100%;
    max-width: 49.4rem;
    font-size: 1.8rem; 
    text-align: left;
}

.tech-stack-list, .project-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.project-card li {
    display: inline-block;
    padding: 2rem;
}

.project-card i {
    font-size: 3.5rem;
}